{
    "swagger": "2.0",
    "info": {
        "title": "LeapAS API",
        "description": "Move your app forward with the LeapAS API",
        "version": "3.0.0"
    },
    "host": "api.leap.as",
    "schemes": [
        "https"
    ],
    "basePath": "/3.0",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/analytics/at": {
            "post": {
                "summary": "analytics tracking",
                "tags": [
                    "数据分析"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Payment"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AnaTracking"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/classes/{className}": {
            "post": {
                "tags": [
                    "数据存储"
                ],
                "summary": "Create an LASObject",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "className",
                        "description": "ClassName of LASObject",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "LASObject",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Invalid LASObject",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "数据存储"
                ],
                "summary": "Get LASObjects",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "className",
                        "description": "ClassName of LASObject",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",

                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",

                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "description": "",

                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of LASObjects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/classes/{className}/{objectId}": {
            "put": {
                "tags": [
                    "数据存储"
                ],
                "summary": "Update an LASObject",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "className",
                        "description": "ClassName of LASObject",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "objectId of LASObject",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "LASObject",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        }
                    },
                    "400": {
                        "description": "Invalid LASObject",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "数据存储"
                ],
                "summary": "Get LASObject",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "className",
                        "description": "ClassName of LASObject",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "objectId of LASObject",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ClassSchema",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "数据存储"
                ],
                "summary": "Delete LASObject",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "className",
                        "description": "ClassName of LASObject",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "objectId of LASObject",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Invalid ClassSchema",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/installations/count": {
            "get": {
                "summary": "Count the installations which match the query condition.",
                "description": "User can get the counts of installations which match the query condtion.",
                "parameters": [
                    {
                        "name": "where",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "The query statement which be included in the content of installations."
                    }
                ],
                "tags": [
                    "数据存储"
                ],
                "responses": {
                    "200": {
                        "description": "The result of counting installations.",
                        "schema": {
                            "$ref": "#/definitions/CountInstallations"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users": {
            "post": {
                "summary": "Login with Anonymous",
                "description": "Login or register with AuthData",
                "tags": [
                    "账号系统"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "user",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "authData": {
                                    "type": "object",
                                    "properties": {
                                        "facebook": {
                                            "$ref": "#/definitions/Anonymous"
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "sessionToken": {
                                    "type": "string"
                                },
                                "authData": {
                                    "type": "object",
                                    "properties": {
                                        "facebook": {
                                            "$ref": "#/definitions/Anonymous"
                                        }
                                    }
                                },
                                "objectId": {
                                    "type": "string"
                                },
                                "installationIds": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "Get User List.",
                "description": "",
                "tags": [
                    "账号系统"
                ],
                "responses": {
                    "200": {
                        "description": "An array of user",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/{userId}": {
            "put": {
                "summary": "Update the user",
                "description": "",
                "tags": [
                    "账号系统"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "user",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "Get the user",
                "description": "Get the user information by id",
                "tags": [
                    "账号系统"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete  user",
                "description": "Delete the user by id",
                "tags": [
                    "账号系统"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/me": {
            "get": {
                "summary": "User profile.",
                "description": "Get the user's profile",
                "tags": [
                    "账号系统"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/requestPasswordReset": {
            "post": {
                "summary": "request password reset",
                "description": "",
                "tags": [
                    "账号系统"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "email",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "description": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/requestEmailVerify": {
            "post": {
                "summary": "request verify email",
                "description": "",
                "tags": [
                    "账号系统"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "email",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "description": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/verifyEmail/{sessionToken}": {
            "get": {
                "summary": "verify user's email",
                "description": "",
                "tags": [
                    "账号系统"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "sessionToken",
                        "type": "string",
                        "description": "sessionToken",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/resetPassword": {
            "post": {
                "summary": "reset user's password",
                "description": "",
                "tags": [
                    "账号系统"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "newPassword",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "newPassword": {
                                    "type": "string",
                                    "description": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/requestSmsCode": {
            "post": {
                "summary": "Get a mobilePhone message with captcha.",
                "description": "User can get a mobilePhone message with captcha by posting a mobilePhone number.",
                "parameters": [
                    {
                        "name": "X-LAS-AppId",
                        "in": "header",
                        "description": "the unique ID number of application.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-LAS-MasterKey",
                        "in": "header",
                        "description": "the permission of AppUser.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "The mobilePhone number.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MobilePhoneNumber"
                        }
                    }
                ],
                "tags": [
                    "账号系统"
                ],
                "responses": {
                    "200": {
                        "description": "The response of posting the captcha.",
                        "schema": {
                            "$ref": "#/definitions/SmsCodeResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/verifySmsCode": {
            "post": {
                "summary": "Verify the mobilePhone number and captcha.",
                "description": "User can verify the mobilePhone number and captcha.\n",
                "parameters": [
                    {
                        "name": "X-LAS-AppId",
                        "in": "header",
                        "description": "the unique ID number of application.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-LAS-MasterKey",
                        "in": "header",
                        "description": "the permission of AppUser.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "the mobilePhone number and captcha.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MobilePhoneNumberAndCaptcha"
                        }
                    }
                ],
                "tags": [
                    "账号系统"
                ],
                "responses": {
                    "200": {
                        "description": "the result of verifying the mobilePhone and captcha.",
                        "schema": {
                            "$ref": "#/definitions/SmsCodeResult"
                        }
                    },
                    "400": {
                        "description": "Bad Request, the captcha is wrong or overdue.",
                        "schema": {
                            "$ref": "#/definitions/SmsCodeError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/requestLoginSmsCode": {
            "post": {
                "summary": "Get the captcha of logining",
                "description": "If user want to login with mobilePhone and captcha, it can get the captcha using this api",
                "parameters": [
                    {
                        "name": "X-LAS-AppId",
                        "in": "header",
                        "description": "the unique ID number of application.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-LAS-MasterKey",
                        "in": "header",
                        "description": "the permission of AppUser.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "the mobilePhone number.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MobilePhoneNumber"
                        }
                    }
                ],
                "tags": [
                    "账号系统"
                ],
                "responses": {
                    "200": {
                        "description": "the result of get the captcha of logining.",
                        "schema": {
                            "$ref": "#/definitions/SmsCodeResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/loginByMobilePhone": {
            "post": {
                "summary": "Verify the captcha and login.",
                "description": "User can login with the captcha which is right and valid.",
                "parameters": [
                    {
                        "name": "X-LAS-AppId",
                        "in": "header",
                        "description": "the unique ID number of application.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-LAS-MasterKey",
                        "in": "header",
                        "description": "the permission of AppUser.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "the mobilePhone number and captcha.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MobilePhoneNumberAndCaptcha"
                        }
                    }
                ],
                "tags": [
                    "账号系统"
                ],
                "responses": {
                    "200": {
                        "description": "An recorded information of logining with mobilePhone and captcha.",
                        "schema": {
                            "$ref": "#/definitions/LoginMobilePhoneInformation"
                        }
                    },
                    "400": {
                        "description": "Bad Request, the captcha is wrong or overdue.",
                        "schema": {
                            "$ref": "#/definitions/SmsCodeError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/requestMobilePhoneVerify": {
            "post": {
                "summary": "Get the captcha of registering.",
                "description": "In order to finish the register, user can get the captcha of registering actively.",
                "parameters": [
                    {
                        "name": "X-LAS-AppId",
                        "in": "header",
                        "description": "the unique ID number of application.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-LAS-MasterKey",
                        "in": "header",
                        "description": "the permission of AppUser.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "the mobilePhone number.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MobilePhoneNumber"
                        }
                    }
                ],
                "tags": [
                    "账号系统"
                ],
                "responses": {
                    "200": {
                        "description": "the result of geting captcha.",
                        "schema": {
                            "$ref": "#/definitions/SmsCodeResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/verifyMobilePhone": {
            "put": {
                "summary": "Verify the captcha actively.",
                "description": "User can verify the captcha actively.",
                "parameters": [
                    {
                        "name": "X-LAS-AppId",
                        "in": "header",
                        "description": "the unique ID number of application.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-LAS-MasterKey",
                        "in": "header",
                        "description": "the permission of AppUser.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "the mobilePhone number and captcha.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MobilePhoneNumberAndCaptcha"
                        }
                    }
                ],
                "tags": [
                    "账号系统"
                ],
                "responses": {
                    "200": {
                        "description": "The result of verifying the captcha.",
                        "schema": {
                            "$ref": "#/definitions/PutVerifyResult"
                        }
                    },
                    "400": {
                        "description": "Bad Request, the captcha is wrong or overdue.",
                        "schema": {
                            "$ref": "#/definitions/SmsCodeError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/requestPasswordResetBySmsCode": {
            "post": {
                "summary": "Get the captcha of reseting password.",
                "description": "According to this api, user can get the captcha of reseting password.",
                "parameters": [
                    {
                        "name": "X-LAS-AppId",
                        "in": "header",
                        "description": "the unique ID number of application.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-LAS-MasterKey",
                        "in": "header",
                        "description": "the permission of AppUser.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "the mobilePhone number.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MobilePhoneNumber"
                        }
                    }
                ],
                "tags": [
                    "账号系统"
                ],
                "responses": {
                    "200": {
                        "description": "the result of geting captcha.",
                        "schema": {
                            "$ref": "#/definitions/SmsCodeResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/resetPasswordBySmsCode": {
            "put": {
                "summary": "Reset the password with SmsCode.",
                "description": "According to this api, user can reset the password with SmsCode.",
                "parameters": [
                    {
                        "name": "X-LAS-AppId",
                        "in": "header",
                        "description": "the unique ID number of application.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-LAS-MasterKey",
                        "in": "header",
                        "description": "the permission of AppUser.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "the mobilePhone number and captcha.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MobilePhoneNumberAndCaptchaAndPassword"
                        }
                    }
                ],
                "tags": [
                    "账号系统"
                ],
                "responses": {
                    "200": {
                        "description": "The result of verifying the captcha.",
                        "schema": {
                            "$ref": "#/definitions/PutVerifyResult"
                        }
                    },
                    "400": {
                        "description": "Bad Request, the captcha is wrong or overdue.",
                        "schema": {
                            "$ref": "#/definitions/SmsCodeError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/files/{name}": {
            "put": {
                "tags": [
                    "数据存储"
                ],
                "description": "upload,download and delete file\n",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "name of file",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Fileobjectmeta"
                        }
                    },
                    "400": {
                        "description": "error"
                    },
                    "401": {
                        "description": "auth failed"
                    }
                }
            }
        },
        "/files": {
            "parameters": [
                {
                    "name": "X-LAS-Fid",
                    "in": "header",
                    "description": "the file name",
                    "type": "string",
                    "format": "string"
                }
            ],
            "get": {
                "tags": [
                    "数据存储"
                ],
                "description": "get  metadata of specific one with X-LAS-Fid or all files.",
                "responses": {
                    "200": {
                        "description": "successful response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Fileobjectmeta"
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "数据存储"
                ],
                "description": "delete a file",
                "responses": {
                    "204": {
                        "description": "successfully delete"
                    }
                }
            }
        },
        "/marketing": {
            "post": {
                "summary": "Create New Marketing Task",
                "description": "Create an new marketing task which can be InApp or Push type. And can set different status,just like Active(1),Deactivated(2),Expired(3),Scheduled(4),Completed(5),Error(100).\n",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "The content of new Marketing Task.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MarketingRequest"
                        }
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "the objectId Number and createdAt time of new Marketing Task.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "objectId": {
                                    "type": "string"
                                },
                                "createdAt": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "Get the all of campaignList.",
                "description": "Can get a campaignList which include of all marketing tasks' contents.\n",
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "The responses of Marketing.",
                        "schema": {
                            "$ref": "#/definitions/MarketingResponse"
                        }
                    }
                }
            }
        },
        "/marketing/push/msg": {
            "post": {
                "summary": "Push Marketing Message by Google Service",
                "description": "In Maxleap.com environment, users can push marketing message by google service with deviceToken.\n",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "user should provide deviceToken and the content of push message.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MarketingPushMessage"
                        }
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "the result of push message",
                        "schema": {
                            "type": "array",
                            "items": {

                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marketing/{objectId}": {
            "get": {
                "summary": "According to objectId, user get the content of one marketing task.",
                "description": "According to objectid, user can get the content of one marketing task.",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "An unique id number of Marketing Task.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "the content of one marketing task with this objectId.",
                        "schema": {
                            "$ref": "#/definitions/MarketingObjectContent"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "According to objectId, user can update the content of one marketing task.",
                "description": "According to objectId, user can update the content of one marketing task.",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "An unique id number of Marketing Task.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "the content of updated Marketing Task",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MarketingObjectContent"
                        }
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "The result of update Marketing Task.",
                        "schema": {
                            "$ref": "#/definitions/UpdateMarketingObjectResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "According to objectId, user can delete the marketing task.",
                "description": "According to objectId, user can delete the marketing task.",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "An unique id number of Marketing Task.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "The result of delete Marketing Task.",
                        "schema": {
                            "type": "object",
                            "format": "json",
                            "properties": {
                                "number": {
                                    "type": "integer",
                                    "format": "int32",
                                    "default": 1
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marketing/{objectId}/{status}": {
            "put": {
                "summary": "Update the status of this marketing campaign.",
                "description": "User can update the status of this marketing campaign by puting the content of status. And the status include of 'Draft(0),Active(1),Deactivated(2),Expired(3),Scheduled(4),Completed(5),Error(100)'.\n",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "An unique id number of marketing campaign.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "path",
                        "description": "The Status' value number.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "The result of update marketing campaign's status.",
                        "schema": {
                            "$ref": "#/definitions/UpdateMarketingStatus"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marketing/archived/{objectId}": {
            "put": {
                "summary": "Change the marketing campaign to archived.",
                "description": "Change the marketing campaign to archived. And the archived&un-archived just is the tags.\n",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "An unique id number of marketing campaign.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "the result of change the marketing campaign to archived.",
                        "schema": {
                            "$ref": "#/definitions/ArchivedAndUnArchived"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marketing/un-archived/{objectId}": {
            "put": {
                "summary": "Change the marketing campaign to un-archived.",
                "description": "Change the marketing campaign to un-archived. And the archived&un-archived just is the tags.",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "An unique id number of Marketing Task.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "the result of change the marketing campaign to un-archived.",
                        "schema": {
                            "$ref": "#/definitions/ArchivedAndUnArchived"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marketing/in-app": {
            "post": {
                "summary": "According to the 'installId', SDK can check which In-app conforms to itself.",
                "description": "User make many In-app marketing campaigns, SDK can get campaignList which include of conform campaigns by installId.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "SDK should pull the installId.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/InAppRequest"
                        }
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "An array of campaignList.",
                        "schema": {
                            "$ref": "#/definitions/InAppList"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marketing/count": {
            "get": {
                "summary": "Count the marketing campaign which match the query condition.",
                "description": "User can get the counts of marketing campaign which match the query condtion.",
                "parameters": [
                    {
                        "name": "where",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "The query statement which be included in the content of marketing campaign."
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "The result of counting marketing campaign.",
                        "schema": {
                            "$ref": "#/definitions/CountMarketing"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marketing/stat'": {
            "post": {
                "summary": "SDK send the event to analysis api.",
                "description": "SDK can send differente eventType to analysis api which can count the quantity of events.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "The request content which be sent to analysis api.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MarketingStat"
                        }
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "The result of pull event.",
                        "schema": {
                            "$ref": "#/definitions/EventResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marketing/push/setting": {
            "post": {
                "summary": "User can update the appleConfig or gcmConfig.",
                "description": "In US server, user can update the appleConfig or gcmConfig by this api;In CN server, user just should update the appleConfig.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "The Key of appleConfig or gcmConfig.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ConfigKey"
                        }
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "The result of pull event.",
                        "schema": {
                            "$ref": "#/definitions/SendConfigResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marketing/duplicate/{objectId}": {
            "post": {
                "summary": "Copy the Marketing campaign.",
                "description": "On the marketing campaign, User can copy an new another.\n",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "An unique id number of marketing campaign.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "User should pull the name of copy marketing campaign.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DuplicateRequest"
                        }
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "The result of copy marketing campaign.",
                        "schema": {
                            "$ref": "#/definitions/DuplicateMarketing"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/gopush/server/get": {
            "get": {
                "summary": "Get the address of Comet",
                "description": "The Android Push SDK should hold an socket with Marketing Push Server, firstly the SDK get address of Comet which is the Service Node of Marketing Push Server.The address is Array.\n",
                "parameters": [
                    {
                        "name": "k",
                        "in": "query",
                        "description": "SDK auto-create an Key which can be to discriminate every client by comet.",
                        "required": true,
                        "type": "string",
                        "format": "hexstring"
                    },
                    {
                        "name": "p",
                        "in": "query",
                        "description": "Connection Protocol.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "An array of Comets",
                        "schema": {
                            "$ref": "#/definitions/Comet"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/gopush/msg/get": {
            "get": {
                "summary": "Get the Offline Messages",
                "description": "The Android Push SDK will reconnect the comet, and firstly it will get the Offline Messages from Marketing Push Server.\n",
                "parameters": [
                    {
                        "name": "k",
                        "in": "query",
                        "description": "SDK auto-create an Key which can be to discriminate every client by comet.",
                        "required": true,
                        "type": "string",
                        "format": "hexstring"
                    },
                    {
                        "name": "m",
                        "in": "query",
                        "description": "Time Series(Get all Offline Messages when m=0).",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "the json format of OfflineMessage file",
                        "schema": {
                            "$ref": "#/definitions/OfflineMessage"
                        }
                    },
                    "201": {
                        "description": "No OfflineMessage",
                        "schema": {
                            "$ref": "#/definitions/NoOfflineMessage"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/gopush/time/get": {
            "get": {
                "summary": "Get the server's time",
                "description": "The Android Push SDK can get the server's time by this API.\n",
                "parameters": [
                    {
                        "name": "cb",
                        "in": "query",
                        "description": "The Android Push SDK can pull an string that can be the key of the server's time.",
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "推送营销"
                ],
                "responses": {
                    "200": {
                        "description": "the timestamp of Push server",
                        "schema": {
                            "$ref": "#/definitions/ServerTime"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/section": {
            "post": {
                "summary": "create section",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "section",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FaqSection"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "load section by Query",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "appId",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "langCode",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",

                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",

                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FaqSection"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/section/{objectId}": {
            "get": {
                "summary": "get section by Id",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "section id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/FaqSection"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete section by Id",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "section id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "update section by Id",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "section id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/FaqSection"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/section/app": {
            "post": {
                "summary": "load section by Query with Post method",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "section",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Query"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FaqSection"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/section/seq/{objectId}": {
            "put": {
                "summary": "update section sequence by id",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "udpate section's sequence",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "preSeq": {
                                    "type": "number"
                                },
                                "nextSeq": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/item": {
            "post": {
                "summary": "create faq item",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "faq item",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FaqItem"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "Find All the app's item Matchs The Query",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "appId",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "langCode",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",

                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",

                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/item/{objectId}": {
            "get": {
                "summary": "get faq item by Id",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "item Id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/FaqItem"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete item by Id",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "item id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "update item by Id",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "item id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/FaqItem"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/item/count": {
            "get": {
                "summary": "get total count of faq item",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "where",
                        "description": ".",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/CountMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/item/seq/{objectId}": {
            "put": {
                "summary": "update item's sequence by id",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "udpate item's sequence",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "preSeq": {
                                    "type": "number"
                                },
                                "nextSeq": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/searchItem": {
            "get": {
                "summary": "search item",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "platform",
                        "description": ".",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "df",
                        "description": ".",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "langCode",
                        "description": ".",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "from",
                        "description": ".",
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "in": "query",
                        "name": "size",
                        "description": ".",
                        "type": "integer",
                        "default": 20
                    },
                    {
                        "in": "query",
                        "name": "q",
                        "description": "the search string",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/tag": {
            "post": {
                "summary": "create tag",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "tag",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Tag"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "Find All the tags Matchs The Query",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "appId",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",

                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",

                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Tag"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/tag/{objectId}": {
            "delete": {
                "summary": "delete tag by id",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "tag id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/issue": {
            "post": {
                "summary": "create Issue",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Issue object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Issue"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "get all Issues that match the Query object",
                "tags": [
                    "用户支持"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "q",
                        "type": "string",
                        "description": "search string"
                    },
                    {
                        "in": "query",
                        "name": "msgValidTime",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",

                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",

                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",

                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
[...]
